html , body , h1 , h2 ,h3 , h4{
    margin: 0 !important;
    padding: 0;
}

*{
    color: white;
    list-style: none;
}

.main-hero{
    background-image: url("https://lp-cms-production.imgix.net/2019-06/553006273_medium.jpg?fit=crop&w=1680&h=620&auto=format&blendMode=multiply&blend=%23ccc&ixlib=react-8.6.4&w=1680&h=620&dpr=1");
    background-size: cover;
    padding: 50px;
}

.nav-bar{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.nav-search{
    align-items: center;
}

.nav-links{
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
}


.nav-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
}

.sign-in-btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px 20px;
    transition: background-color 0.3s;
}

.sign-in-btn:hover{
    background-color: rgb(255 249 249 / 35%);
}

.search-btn{
    background-color: transparent;
    border: none;
    font-size: 28px;
}


.main-search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.search-recommend{
    display: flex;
    width: 60%;
    border-radius: 50px;
    box-shadow: rgb(255 249 249 / 35%) 0px 0px 0px 13px;
}

.dropdown{
    flex-grow: 2;
}

.search-input{
    flex-grow: 2;
}

.dropdown-btn{
    width: 20%;
    background-color: white;
    color: black;
    height: 45px;
    border-radius: 20px 0px 0px 20px!important;
}

.explore-btn{
    width: 20%;
    border-radius: 0px 20px 20px 0px!important;
}

.tooltips {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Tooltips text */
.tooltips .tooltipstext {
  visibility: hidden;
  width: 250px;
  padding: 25px 25px 10px 25px!important;
  background-color: white;
  color: #fff;
  text-align: center;
  border-radius: 6px;

  /* Position the tooltips text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -120px;

  /* Fade in tooltips */
  opacity: 0;
  transition: opacity 0.5s;
  transform: translateY(10px);
  
}

/* Tooltips arrow */
.tooltips .tooltipstext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

/* Show the tooltips text when you mouse over the tooltips container */
.tooltips:hover .tooltipstext {
  visibility: visible;
  animation-name: example;
  animation-duration: 0.5s;
  opacity: 1;
}

@keyframes example {
    0% {margin-top: 5px;}
    50% {margin-top: 10px;}
    100% {margin-top: 0px;}
  }

.tooltip-links{
    padding: 0;
}

.tooltip-header{
    margin-left: 20px !important;
}

.tooltip-header, .tooltip-link{
    color: black!important;
}

.tooltip-link{
    padding-top: 5px;
    font-size: 20px;
}


.drop-header{
    display: flex;
    align-items: center;
}

.tooltip-link:hover{
    color: teal!important;
}



.modals {
    display: none;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 35%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  /* Modal Content */
  .modals-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 100%;
    padding: 15px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .hr{
    color: black;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  .search-place{
    color: black;
    padding: 20px;
  }
  .fa-map-marker{
      color: blue;
  }

  .top-story-text, .search-top-stories{
      color: black;
  }

  .search-top-stories{
      padding: 20px;
  }

  .search-top-story{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .hamburger-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




  @media (max-width:850px){
      .search-btn{
          display: none;
      }
      .modals{
          width:100%
      }

      .nav-links{
          display: none;
      }

      .main-hero{
        padding: 30px;
    }

    h1{
        font-size: 22px!important;
    }

    .hamburger-menu{
        display: block;
    }

    .search-recommend{
        display: flex;
        width: 95%;
        border-radius: 50px;
        box-shadow: rgb(255 249 249 / 35%) 0px 0px 0px 13px;
    }

    .functions{
        justify-content: center!important;
    }
  }


.functions{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}

.function-tab, .ln-tab , .ln-head , .ln-text{
    color: black!important;
}

.function-heading, .ln-heading{
    color: grey;
    margin-bottom: -5px;
    font-size: 10px;
}

img{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0px 0px 15px 1px rgb(35 29 29 / 60%);
    border-radius: 5px;

    max-width: 100%;
    height: auto;
}

.latest-news{
    padding: 50px;
}

.ln-row1, .ln-small-tab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.ln-row2,.ln-row3{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

}

.ln-small-tab + .ln-small-tab{
    margin-left: 100px;
}

.covid-travel{
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.covid-tabs-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.covid-tab{
    color: black;
    padding: 20px;
    height: 380px;
    position: relative;
}

.covid-tab > button{
    position: absolute;
    left: 20px;
    bottom: 20px;
}


.covid-tabs-1{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 12%), 0px 0px 15px 1px rgb(35 29 29 / 60%);
    border-radius: 5px;

}

.covid-head{
    padding: 0px 100px;
}

.covid-video{
    position: relative;
}


.covid-video > h3{
    position: absolute;
    bottom: 50px;
    left: 20px;
}

.covid-video > button{
    position: absolute;
    left: 20px;
    bottom: 10px
}

.covid-video + .covid-video{
    margin-top: 45px;
}


.multi-item-carousel .carousel-inner > .item {
    transition: transform 0.4s linear 0s;
  }
  .multi-item-carousel .carousel-inner .active.left {
    left: -33%;
  }
  .multi-item-carousel .carousel-inner .active.right {
    left: 33%;
  }
  .multi-item-carousel .carousel-inner .next {
    left: 33%;
  }
  .multi-item-carousel .carousel-inner .prev {
    left: -33%;
  }
  @media all and (transform-3d), (-webkit-transform-3d) {
    .multi-item-carousel .carousel-inner > .item {
      transition: transform 0.4s linear 0s;
      transition: transform 0.4s linear 0s;
      -webkit-backface-visibility: visible;
              backface-visibility: visible;
    }
}
  .multi-item-carousel .carouse-control.left,
  .multi-item-carousel .carouse-control.right {
    background-image: none;
  }


  .item > div > a > img{
      margin: auto;
  }

  .item > div{
      position: relative;
  }

  .item > div > span {
      position: absolute;
      left: 80px;
      bottom: 10px;
  }

  .featured-video-section{
    background-color: rgb(51, 49, 49);
    padding: 50px;
  }

  .featured-video{
      position: relative;
  }

  .featured-video > span{
      position: absolute;
      bottom: 60px;
      left: 30px;
  }


.footer-links{
    display: flex;
    color: black;
    justify-content: space-around;
}

.footer-link{
    color: black;
}

.footer-link > ul >li{
    color: black;
    text-align: left;
}